In [ ]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm

players = pd.read_csv('../../data/raw/MLB_player_stats_2015.csv')
players.columns

players = players[['Team', 'Age', 'GDP', 'IFH', 'BUH', 'GB/FB', 'IFFB%', 'HR/FB', 'IFH%','BUH%', 'Spd', 'EV', 'maxEV', 'Pace (pi)', 'HR']]
players.drop(columns=['Team'], inplace=True)
players.dropna(inplace=True)

In [2]:
X = players[['Age', 'GDP', 'IFH', 'BUH', 'GB/FB', 'IFFB%', 'HR/FB', 'IFH%','BUH%', 'Spd', 'EV', 'maxEV', 'Pace (pi)']]

X.insert(0, 'intercept', 1)

X[:10]

,intercept,Age,GDP,IFH,BUH,GB/FB,IFFB%,HR/FB,IFH%,BUH%,Spd,EV,maxEV,Pace (pi)
0,1,38,1,0,0,5.000000,0.000000,0.333333,0.000000,0.000,0.142857,84.500738,104.322,22.119048
1,1,23,1,0,0,1.000000,0.000000,0.000000,0.000000,0.000,0.142857,76.032501,82.962,20.250000
2,1,34,4,1,0,1.240000,0.020000,0.140000,0.016129,0.000,1.080357,87.681620,108.544,22.139738
3,1,38,19,7,0,1.626168,0.121495,0.084112,0.040230,0.000,1.736382,85.400034,109.962,22.454822
4,1,24,3,3,0,1.054054,0.108108,0.135135,0.076923,0.000,8.036122,90.904075,110.026,20.627706
5,1,25,0,0,0,1.000000,0.000000,0.000000,0.000000,0.000,0.142857,81.064499,82.900,14.500000
6,1,37,2,2,0,7.000000,0.000000,0.000000,0.095238,0.000,2.295635,83.842511,102.349,20.343750
7,1,25,6,9,5,1.181818,0.101010,0.111111,0.076923,0.625,5.994698,88.815779,107.829,24.129870
8,1,33,9,6,0,1.098039,0.058824,0.058824,0.053571,0.000,3.596454,88.347904,105.103,23.774229
10,1,22,0,0,0,5.000000,0.000000,0.000000,0.000000,0.000,0.142857,90.793498,100.726,19.853659

In [3]:
y = players['HR']
y[:10]

0      1
1      0
2      7
3      9
4      5
5      0
6      0
7     11
8      6
10     0
Name: HR, dtype: int64

In [4]:
model = sm.OLS(y, X)
results = model.fit()
#summarize(results)
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     HR   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.598
Method:                 Least Squares   F-statistic:                     102.0
Date:                Thu, 03 Apr 2025   Prob (F-statistic):          8.04e-165
Time:                        16:32:02   Log-Likelihood:                -2723.0
No. Observations:                 885   AIC:                             5474.
Df Residuals:                     871   BIC:                             5541.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -9.6582      3.435     -2.812      0.005     -16.400      -2.916
Age            0.0269      0.049      0.554      0.580      -0.068       0.122
GDP            0.6984      0.048     14.505      0.000       0.604       0.793
IFH            0.2318      0.051      4.578      0.000       0.132       0.331
BUH           -0.3713      0.140     -2.648      0.008      -0.647      -0.096
GB/FB         -0.3262      0.089     -3.652      0.000      -0.501      -0.151
IFFB%         -0.3327      1.397     -0.238      0.812      -3.075       2.409
HR/FB         20.3118      1.908     10.648      0.000      16.568      24.056
IFH%          -1.4442      2.156     -0.670      0.503      -5.677       2.788
BUH%           3.2092      0.852      3.768      0.000       1.538       4.881
Spd           -0.1980      0.113     -1.760      0.079      -0.419       0.023
EV            -0.0037      0.045     -0.082      0.935      -0.092       0.085
maxEV          0.1017      0.034      3.031      0.003       0.036       0.168
Pace (pi)     -0.0060      0.082     -0.074      0.941      -0.167       0.155
==============================================================================
Omnibus:                      298.968   Durbin-Watson:                   2.015
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1947.357
Skew:                           1.378   Prob(JB):                         0.00
Kurtosis:                       9.724   Cond. No.                     2.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [31]:
test_players = pd.read_csv('../../data/raw/MLB_player_stats_2016.csv')
test_players.columns

test_players = test_players[['Team', 'Age', 'GDP', 'IFH', 'BUH', 'GB/FB', 'IFFB%', 'HR/FB', 'IFH%','BUH%', 'Spd', 'EV', 'maxEV', 'Pace (pi)', 'HR']]
test_players.drop(columns=['Team'], inplace=True)
test_players.dropna(inplace=True)
test_players.reset_index(drop=True, inplace=True)
test_players[:10]

,Age,GDP,IFH,BUH,GB/FB,IFFB%,HR/FB,IFH%,BUH%,Spd,EV,maxEV,Pace (pi),HR
0,24,1,0,0,1.000000,0.000000,0.000000,0.000000,0.00,0.142857,82.752998,92.340,23.450000,0
1,35,5,3,0,1.137255,0.117647,0.039216,0.051724,0.00,2.147138,86.885544,105.530,22.334489,2
2,39,13,5,1,1.707692,0.046154,0.030769,0.045045,1.00,2.173794,87.549269,106.833,24.127306,2
3,27,0,0,0,0.000000,1.000000,0.000000,0.000000,0.00,0.142857,80.000000,80.000,23.625000,0
4,25,4,5,0,2.275862,0.137931,0.137931,0.075758,0.00,4.351348,88.243172,111.691,22.033382,4
5,24,0,0,0,2.666667,0.000000,0.000000,0.000000,0.00,0.142857,85.161000,107.216,18.387755,0
6,26,7,5,1,1.216495,0.092784,0.082474,0.042373,0.25,2.943869,89.118958,107.612,23.624249,8
7,34,6,10,0,0.902256,0.060150,0.075188,0.083333,0.00,2.806084,86.660456,105.135,22.886002,10
8,24,2,1,0,0.681818,0.000000,0.181818,0.066667,0.00,2.091794,95.134697,115.207,21.344156,4
9,23,0,0,0,5.000000,0.000000,0.000000,0.000000,0.00,1.080357,84.510915,103.930,20.343137,0

In [32]:
test_X = test_players[['Age', 'GDP', 'IFH', 'BUH', 'GB/FB', 'IFFB%', 'HR/FB', 'IFH%','BUH%', 'Spd', 'EV', 'maxEV', 'Pace (pi)']]

test_X.insert(0, 'intercept', 1)

test_y = test_players['HR']

new_prediction = results.get_prediction(test_X)
predicted_y =  pd.DataFrame({'predicted HR': new_prediction.predicted_mean})

In [33]:
test_X[:10]

,intercept,Age,GDP,IFH,BUH,GB/FB,IFFB%,HR/FB,IFH%,BUH%,Spd,EV,maxEV,Pace (pi)
0,1,24,1,0,0,1.000000,0.000000,0.000000,0.000000,0.00,0.142857,82.752998,92.340,23.450000
1,1,35,5,3,0,1.137255,0.117647,0.039216,0.051724,0.00,2.147138,86.885544,105.530,22.334489
2,1,39,13,5,1,1.707692,0.046154,0.030769,0.045045,1.00,2.173794,87.549269,106.833,24.127306
3,1,27,0,0,0,0.000000,1.000000,0.000000,0.000000,0.00,0.142857,80.000000,80.000,23.625000
4,1,25,4,5,0,2.275862,0.137931,0.137931,0.075758,0.00,4.351348,88.243172,111.691,22.033382
5,1,24,0,0,0,2.666667,0.000000,0.000000,0.000000,0.00,0.142857,85.161000,107.216,18.387755
6,1,26,7,5,1,1.216495,0.092784,0.082474,0.042373,0.25,2.943869,89.118958,107.612,23.624249
7,1,34,6,10,0,0.902256,0.060150,0.075188,0.083333,0.00,2.806084,86.660456,105.135,22.886002
8,1,24,2,1,0,0.681818,0.000000,0.181818,0.066667,0.00,2.091794,95.134697,115.207,21.344156
9,1,23,0,0,0,5.000000,0.000000,0.000000,0.000000,0.00,1.080357,84.510915,103.930,20.343137

In [34]:
test_y[:10]

0     0
1     2
2     2
3     0
4     4
5     0
6     8
7    10
8     4
9     0
Name: HR, dtype: int64

In [35]:
predicted_y[:10]

   predicted HR
0      0.276506
1      5.635153
2     14.420896
3     -1.593895
4      6.910823
5      0.569330
6      8.597110
7      8.536711
8      6.814285
9     -0.747902

In [36]:
comparison =  pd.DataFrame({'actual HR': test_y, 'predicted HR': predicted_y['predicted HR']})
comparison[:10]

   actual HR  predicted HR
0          0      0.276506
1          2      5.635153
2          2     14.420896
3          0     -1.593895
4          4      6.910823
5          0      0.569330
6          8      8.597110
7         10      8.536711
8          4      6.814285
9          0     -0.747902